name: OCPL Configuration Management Standards Check (Shared)

on:
  workflow_call:
    inputs:
      config_ref:
        required: true
        type: string
        description: 'The branch, tag, or commit hash to use when retrieving the commitlint configuration file from the NCIOCPL/.github repository.'

permissions:
  contents: read

jobs:

  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/jod'

      - name: Install commitlint
        run: npm install -g @commitlint/cli@20

      - name: Copy config file
        id: configFile
        run: |
          tempdir=$(mktemp -d)
          configFile="$tempdir/commitlint.config.cjs"
          curl -fsSL "https://raw.githubusercontent.com/NCIOCPL/.github/refs/heads/${{ inputs.config_ref }}/.github/workflows/commitlint.config.cjs" -o "$configFile"
          echo "CONFIG_FILE=$configFile" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Commitlint
        if: github.event_name == 'pull_request'
        run: |
          commitlint --config ${{ steps.configFile.outputs.CONFIG_FILE }} --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

## Holding off on PR checking until we can fully verify them

#  # custom script to verify pull request body
#  check_pr_text:
#      runs-on: ubuntu-latest
#      steps:
#        - uses: actions/github-script@v6
#          with:
#            script: |
#              const prBody = context.payload.pull_request.body
#              //console.log(prBody)
#              const issueRegex = /(?:Close|Closes|Closed|Fix|Fixes|Fixed|Resolve|Resolves|Resolved) \#\d+/;
#              if (prBody.match(issueRegex) === null) {
#                core.setFailed('Please include "Closes #issue" in your pull request body.')
#              }
